.menubaritem-master {
    border-bottom: solid 1px rgba(58, 156, 222, 0.4);
    cursor: pointer;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.menubaritem-master p {
    margin-left: 2rem;
}


@media screen and (max-width: 500px) {
    .menubaritem-master{
        font-size: 10px;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
}