.main {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: white;
}

.main-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.main-content{
    max-width: 100%;
    height: 100%;
    flex-grow: 100;
    float: right;
    text-align:center;
    overflow-y: scroll;
}

.main-content-active {
    max-width: 70%;
}
