.header-main-container {
    display: flex;
    padding: 10px;
    min-height: 12vh;
    max-height: 12vh;
    border-bottom: solid 1px rgba(58, 156, 222, 0.4);
    background: transparent;
    align-items: center;
    text-align: center;
}

.header-login-button {
}

.header-logo-image {
    display: inline-block;
    margin: auto;
    max-height: 12vh;
}

@media screen and (max-width: 500px) {
    .header-main-container {
        font-size: 1px;
    }

    .login-button-master{
        margin-left: 0rem !important;
    }

    .hamburger {
        padding: 0px !important;
    }

    .header-login-button {
        padding-left: 15px;
    }
}
