.matchhistoryitem-master {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(177, 177, 177, 0.4);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.matchhistoryitem-date {
    height: 100%;
    width: 14%;
}

.matchhistoryitem-logo-container {
}

.matchhistoryitem-logo {
    margin-top: auto;
    max-height: 40px;
}

.matchhistoryitem-score {
    height: 100%;
    width: 12%;
}

.team-formater {
    width: 38%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .matchhistoryitem-master {
        font-size: 9px;
    }
}

