.register-master-container{
    height: 100%;
    display: flex;
    align-items: center;
}

.register-container{
    margin: auto;
}

.register-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-button-submit {
    width: 50%;
    background-color: rgba(58, 156, 222, 0.4);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
