html{
	height: 100%;
    background: linear-gradient(90deg, rgba(58, 156, 222, 0.4) 15%, white 30%);
    font-family: 'Ubuntu', sans-serif;
}

body {
  height: calc(100% - 10px);
  padding: 0px;
  margin: 5px;
}

#render-target{
  height: 100%;
}

.no-outline {
	outline: none;
}

.global-content-container {
    height: calc(100% - 20px);
    margin-top: 1rem;
}
