html{
	height: 100%;
}

body {
  height: calc(100% - 10px);
  padding: 0px;
	margin: 5px;
  font-family: sans-serif;
}

#render-target{
  height: 100%;
}

.container{
	display: flex;
	flex-direction: column;
	height:100%;
}

header {
	border: solid 1px black;
	display: flex;
	padding: 10px;
}

#menu-btn {
	border: solid 1px black;
	display: inline-block;
}

#title{
	display: inline-block;
	text-align: center;
	flex-grow: 100;
}

#menu-bar{
	float: left;
	overflow: hidden;
	width: 0%;
	height: 100%;
	border: solid 1px black;
	-webkit-transition: width 0.5s; /* Safari */
	transition: width 0.5s;
	text-align: left;
}

#main{
	margin-top: 10px;
	height: 100%;
	width: 100%;
	display: flex;
}

#main-content{
	height: 100%;
	flex-grow: 100;
	float: right;
	border: solid 1px black;
	text-align:center;

}

.content-container{
	height: calc(100% - 20px);
	margin: 10px;
	border: solid 1px black;
}


